<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quote</title>
    <style>
        .backimage{
            background-image: url("../static/background.jpg");
            background-size: cover;
        }
        .box{
        text-align: center;
        margin-top: 150px;}
        .inputtext{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom:20px;
        color:blanchedalmond;
        }
    </style>
</head>
<body class="backimage">
    <div class="box">
        <p class="inputtext">The Suggested Price is:</p>
        <p class="inputtext" style="font-size:68px;">￡{{price}}</p>
        <p class="inputtext" style="margin-top:80px;">The Property with similar elements' Price Interval is :</p>
        <p class="inputtext" style="font-size:68px;">￡{{lower}} ~ ￡{{upper}}</p>
        <p class="inputtext" style="margin-top:50px;">Price Interval is vary, based on the ulility, size interior decoration and etc.</p>
    </div>
</body>
</html>