<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
</head>
<body>
        <table>
                <tr>
                  <th>#</th>
                  <th>Product</th>
                  <th>Price</th>
                </tr>
                {% for href, caption in product %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{href}}</td>
                        <td>{{caption|round(2)}}</td>
                {% endfor %}
                    </tr>
                <!-- <tr>
                  <td>1</td>
                  <td>Milk</td>
                  <td>3.59 ¥</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Bread</td>
                  <td>2.96 ¥</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Rice</td>
                  <td>0.64 ¥</td>
                </tr> -->
              </table>
</body>
</html>