<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Index</title>
</head>
<header style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
font-size: 50px; text-align: center;">
    <p>Top 5 Greatest Movie</p>
</header>
<body style="text-align: center;">
    <h1 style="font-family: 'Courier New', Courier, monospace; font-size: 20px;">
        <li style="margin-bottom: 20px;"><a href="/index/movie_id_1">The Godfather (1972)</a></li>
        <li style="margin-bottom: 20px;"><a href="/index/movie_id_2">Star Wars: Episode V (1980)</a></li>
        <li style="margin-bottom: 20px;"><a href="/index/movie_id_3">The Dark Knight (2006)</a></li>
        <li style="margin-bottom: 20px;"><a href="/index/movie_id_4">The Shawshank Redemption (1994)</a></li>
        <li style="margin-bottom: 20px;"><a href="/index/movie_id_5">Pulp Fiction (1994)</a></li>
    </h1>
</body>
</html>