<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log_page</title>
</head>
<header style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 50px; text-align: center; margin-top: 100px;
                margin-bottom: 20px;">Welcome!
</header>
<body> 
    <div style="border: 5px black solid; text-align:center; margin: 10px 300px;">
    <form action="/api/login", method="POST">
        <p>User Name: <input name = "username" type = "text"></p>
        <p>Password: <input name = "password" type = "password"></p>
        <p><input type = "submit" value="Login" style="margin-left:20px">
            <a href="/sign-up" style="margin-right:20px;"><input type="button" value = "Sign up"> </a>
        </p>
    </form>
    </div>
</body>
</html>