<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <style>
        .searchbox{
            border: 5px black solid;
            margin-right: 300px;
            margin-left: 300px;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<header style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
font-size: 50px; text-align: center;">
    <p>What Are You Looking For?</p>
</header>
<body>
    <div class="searchbox">
        <form action = "/search">
        <p>Name: <input name="name" type="text"></p>
        <input  type="submit" value="search">
        </form>
    </div>
    <div>
        <p style="text-align: center; margin-top: 100px;">{{result}}</p>
    </div>
</body>
</html>