<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Dark Knight</title>
    <link rel = "stylesheet" type = "text/css" 
    href = {{url_for('static', filename = 'style.css')}}>
</head>
<header class="header1">The Dark Knight (2006)</header>
<body>
    <p class="body1">Set within a year after the events of Batman Begins (2005), Batman, 
        Lieutenant James Gordon, and new District Attorney Harvey Dent successfully begin to 
        round up the criminals that plague Gotham City, until a mysterious and sadistic criminal 
        mastermind known only as "The Joker" appears in Gotham, creating a new wave of chaos. 
        Batman's struggle against The Joker becomes deeply personal, forcing him to "confront 
        everything he believes" and improve his technology to stop him. A love triangle develops 
        between Bruce Wayne, Dent, and Rachel Dawes.</p>
</body>
</html>