<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Shawshank Redemption</title>
    <link rel = "stylesheet" type = "text/css" 
    href = {{url_for('static', filename = 'style.css')}}>
</head>
<header class="header1">The Shawshank Redemption (1994)</header>
<body>
    <p class="body1">Chronicles the experiences of a formerly successful banker as a prisoner 
        in the gloomy jailhouse of Shawshank after being found guilty of a crime he did not commit. 
        The film portrays the man's unique way of dealing with his new, torturous life; along 
        the way he befriends a number of fellow prisoners, most notably a wise long-term inmate 
        named Red.</p>
</body>
</html>