<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<header style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
font-size: 50px; text-align: center;">
    <p>List</p>
</header>
<body style="text-align: center;">
    <a href="/add-movie"><input type="button" value="Add Moive"></a>
    <h1 style="font-family: 'Courier New', Courier, monospace; font-size: 20px;">
        <p style="margin-bottom: 20px;"><a href="/edit/1">Title 1</a></p>
    </h1>
</body>
</html>