<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
</head>
<header style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
font-size: 50px; text-align: center;">
    <p>Over View</p>
</header>
<body>
    <p style="text-align: center;"><img src = 'static/table_layout.PNG'></p>
    <ul style="font-size: 40px; margin-left: 250px;">
        <li style="margin: 20px;"><a href = '/message'>Total 759 messages</a></li>
        <li style="margin: 20px;"><a href = '/user'>83 users</a></li>
        <li style="margin: 20px;"><a href = '/reaction'>5732 reactions</a></li>
        <li style="margin: 20px;"><a href = '/reaction'>165 emoji</a></li>
    </ul>
</body>
</html>