<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>message</title>
</head>
<header style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
font-size: 50px; text-align: center;">
        <p>Message Info</p>
</header>
<body>
    <p style="margin-left: 200px; font-size: 25px;">The average amount of messages sent among all users is {{avg}}</p>
    <p style="margin-left: 200px; font-size: 30px;">The Top 10 users:</p>
    <p style="margin-left: 200px; font-size: 30px;"><img src = 'static/top_message_sender.PNG'></p>
</body>
</html>